In [1]:
import pandas as pd

In [17]:
df = pd.read_csv("D:\\College PDFs\\BE\\final year project\\NIRF\\Engineering NIRF Ranking 2023.csv")
df

,Institute ID,Institute Name,TLR,RPC,GO,OI,Perception,City,State,Score,Rank
0,IR-E-U-0456,Indian Institute of Technology Madras,95.19,96.41,79.89,63.26,100.00,Chennai,Tamil Nadu,89.79,1
1,IR-E-I-1074,Indian Institute of Technology Delhi,84.89,94.74,85.00,67.92,94.07,New Delhi,Delhi,87.09,2
2,IR-E-U-0306,Indian Institute of Technology Bombay,79.12,87.94,81.93,56.89,85.36,Mumbai,Maharashtra,80.74,3
3,IR-E-I-1075,Indian Institute of Technology Kanpur,84.35,80.16,88.99,58.82,76.15,Kanpur,Uttar Pradesh,80.65,4
4,IR-E-U-0560,Indian Institute of Technology Roorkee,74.55,78.36,88.91,60.42,59.37,Roorkee,Uttarakhand,75.64,5
...,...,...,...,...,...,...,...,...,...,...,...
95,IR-E-C-1269,R.V. College of Engineering,63.55,17.05,57.16,52.04,14.03,Bengaluru,Karnataka,42.22,96
96,IR-E-U-0286,Pandit Dwarka Prasad Mishra Indian Institute o...,44.65,30.48,68.44,56.03,3.06,Jabalpur,Madhya Pradesh,42.14,97
97,IR-E-C-19754,SR University,65.32,15.79,51.98,62.66,10.79,Warangal,Telangana,42.09,98
98,IR-E-U-0155,"Amity University Haryana, Gurgaon",64.15,21.73,45.29,63.74,7.93,"Gurugram, Haryana",Haryana,41.99,99
99,IR-E-C-30045,"C.V. Raman Global University, Odisha",69.79,5.70,58.27,69.95,6.26,Bhubaneswar,Odisha,41.93,100

In [18]:
df_2016 = pd.read_csv("D:\\College PDFs\\BE\\final year project\\NIRF\\2016\\EngineeringRanking_2016.csv")
df_2017 = pd.read_csv("D:\\College PDFs\\BE\\final year project\\NIRF\\2017\\EngineeringRanking_2017.csv")
df_2018 = pd.read_csv("D:\\College PDFs\\BE\\final year project\\NIRF\\2018\\EngineeringRanking_2018.csv")
df_2019 = pd.read_csv("D:\\College PDFs\\BE\\final year project\\NIRF\\2019\\EngineeringRanking_2019.csv")
df_2020 = pd.read_csv("D:\\College PDFs\\BE\\final year project\\NIRF\\2020\\EngineeringRanking_2020.csv")
df_2021 = pd.read_csv("D:\\College PDFs\\BE\\final year project\\NIRF\\2021\\EngineeringRanking_2021.csv")
# df_2022 = pd.read_csv()

In [29]:
# Function to filter institutes based on user input
def filter_and_display(state):
    # Filter DataFrame based on the selected state
    state_data = df[df['State'] == state]

    # Display the unique cities in the selected state
    unique_cities = state_data['City'].unique()
    print("Cities in", state, ":", ', '.join(unique_cities))

    # Take user input for the city
    city = input("Enter the city from the above list: ")

    # Filter DataFrame based on the selected city
    city_data = state_data[state_data['City'] == city]
    
    table_data = []
    
    # Sort institutes by rank (highest to lowest) and display
    sorted_city_data = city_data.sort_values(by='Rank')
    
    for _, row in sorted_city_data.iterrows():
        institute_name = row['Institute Name']
        rank_16 = df_2018.loc[df_2018['Institute Name'] == institute_name, 'Rank'].values[0] if institute_name in df_2018['Institute Name'].values else '-'
        rank_17 = df_2017.loc[df_2017['Institute Name'] == institute_name, 'Rank'].values[0] if institute_name in df_2017['Institute Name'].values else '-'
        rank_18 = df_2018.loc[df_2018['Institute Name'] == institute_name, 'Rank'].values[0] if institute_name in df_2018['Institute Name'].values else '-'
        rank_19 = df_2019.loc[df_2019['Institute Name'] == institute_name, 'Rank'].values[0] if institute_name in df_2019['Institute Name'].values else '-'
        rank_20 = df_2020.loc[df_2020['Institute Name'] == institute_name, 'Rank'].values[0] if institute_name in df_2020['Institute Name'].values else '-'
        rank_21 = df_2021.loc[df_2021['Institute Name'] == institute_name, 'Rank'].values[0] if institute_name in df_2021['Institute Name'].values else '-'
        
        table_data.append([institute_name, row['Rank'], rank_21, rank_20, rank_19, rank_18, rank_17, rank_16])

    # Create a DataFrame from the table data
    headers = ['Institute Name', 'Rank_23', 'Rank_21', 'Rank_20', 'Rank_19', 'Rank_18', 'Rank_17', 'Rank_16']
    df_result = pd.DataFrame(table_data, columns=headers)

    return df_result
        
# Take user input for the state
user_state = input("Enter the state: ")

# Call the function to filter and display information
filter_and_display(user_state)

Enter the state: Tamil Nadu
Cities in Tamil Nadu : Chennai, Tiruchirappalli, Vellore, Coimbatore, Thanjavur, Srivilliputtur, Kalavakkam
Enter the city from the above list: Chennai

,Institute Name,Rank_23,Rank_21,Rank_20,Rank_19,Rank_18,Rank_17,Rank_16
0,Indian Institute of Technology Madras,1,1,1,1,1,1,1
1,Anna University,13,18,14,9,8,8,8
2,S.R.M. Institute of Science and Technology,28,34,-,-,-,-,-
3,Saveetha Institute of Medical and Technical Sc...,64,121,149,186,-,-,-
4,Sathyabama Institute of Science and Technology,66,55,51,47,37,-,37
5,Rajalakshmi Engineering College,86,110,106,139,-,-,-
6,Vel Tech Rangarajan Dr. Sagunthala R & D Insti...,87,93,95,86,77,-,77

In [41]:
print(df['State'].unique())
df['State'].nunique()

['Tamil Nadu' 'Delhi' 'Maharashtra' 'Uttar Pradesh' 'Uttarakhand'
 'West Bengal' 'Assam' 'Telangana' 'Karnataka' 'Madhya Pradesh' 'Odisha'
 'Jharkhand' 'Gujarat' 'Punjab' 'Kerala' 'Rajasthan' 'Himachal Pradesh'
 'Bihar' 'Andhra Pradesh' 'Haryana' 'Jammu and Kashmir' 'Chhattisgarh'
 'Meghalaya' 'Goa' 'Tripura' 'Manipur']

26

In [42]:
print(df['City'].unique())
df['City'].nunique()

['Chennai' 'New Delhi' 'Mumbai' 'Kanpur' 'Roorkee' 'Kharagpur' 'Guwahati'
 'Hyderabad' 'Tiruchirappalli' 'Kolkata' 'Vellore' 'Surathkal' 'Indore'
 'Varanasi' 'Rourkela' 'Dhanbad' 'Gandhinagar' 'Coimbatore' 'Patiala'
 'Warangal' 'Rupnagar' 'Kozhikode' 'Pilani' 'Bhubaneswar' 'Jodhpur'
 'Gautam Budh Nagar' 'Aligarh' 'Mandi' 'Thanjavur' 'Howrah'
 'Srivilliputtur' 'Jaipur' 'Mohali' 'Silchar' 'Patna' 'Nagpur' 'Durgapur'
 'Vaddeswaram' 'Kalavakkam' 'Jalandhar' 'Thiruvananthapuram' 'Prayagraj'
 'Phagwara' 'Delhi' 'Belgaum' 'Ranchi' 'Dehradun' 'Pune' 'Kurukshetra'
 'Yerpedu' 'South West' 'Manipal' 'Surat' 'Jammu' 'Banasthali' 'Palakkad'
 'Raipur' 'Shillong' 'Bengaluru' 'Amethi' 'Bhopal' 'Srinagar' 'Guntur'
 'Gwalior' 'Prayagraj (Allahabad)' 'Ponda' 'Agratala' 'Rajpura' 'Dharwad'
 'Visakhapatnam' 'Imphal' 'Jabalpur' 'Gurugram, Haryana']

73

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error

In [17]:
df = pd.read_csv("D:\\College PDFs\\BE\\final year project\\NIRF\\Combined\\EngineeringRanking.csv")

In [18]:
# Step 2: Combine scores for each year into feature sets
features_21 = ['TLR_21', 'RPC_21', 'GO_21', 'OI_21', 'Perception_21', 'Score_21']
features_20 = ['TLR_20', 'RPC_20', 'GO_20', 'OI_20', 'Perception_20', 'Score_20']
features_19 = ['TLR_19', 'RPC_19', 'GO_19', 'OI_19', 'Perception_19', 'Score_19']
features_18 = ['TLR_18', 'RPC_18', 'GO_18', 'OI_18', 'Perception_18', 'Score_18']
features_17 = ['TLR_17', 'RPC_17', 'GO_17', 'OI_17', 'Perception_17', 'Score_17']
features_16 = ['TLR_16', 'RPC_16', 'GO_16', 'OI_16', 'Perception_16', 'Score_16']

In [19]:
# Step 3: Concatenate feature sets for each year and fill missing values with 0
X = pd.concat([
    df[features_21].fillna(0),
    df[features_20].fillna(0),
    df[features_19].fillna(0),
    df[features_18].fillna(0),
    df[features_17].fillna(0),
    df[features_16].fillna(0)
], axis=1)

In [21]:
df.fillna(0, inplace=True)
df

,Institute Id,Institute Name,City,State,Score_21,Rank_21,TLR_21,RPC_21,GO_21,OI_21,...,GO_17,OI_17,Perception_17,Score_16,Rank_16,TLR_16,RPC_16,GO_16,OI_16,Perception_16
0,IR-E-U-0456,Indian Institute of Technology Madras,Chennai,Tamil Nadu,90.19,1.0,95.47,96.43,81.92,62.44,...,83.78,77.19,81.46,89.41,1,88.26,94.02,81.81,86.11,98.0
1,IR-E-I-1074,Indian Institute of Technology Delhi,New Delhi,Delhi,88.96,2.0,91.76,95.82,80.97,66.39,...,77.45,71.41,77.24,82.02,4,80.27,91.62,74.72,66.17,98.0
2,IR-E-U-0306,Indian Institute of Technology Bombay,Mumbai,Maharashtra,85.16,3.0,89.32,92.56,79.71,53.68,...,83.64,69.70,84.24,87.66,2,85.93,94.14,84.97,74.84,99.0
3,IR-E-I-1075,Indian Institute of Technology Kanpur,Kanpur,Uttar Pradesh,83.22,4.0,86.71,83.13,89.79,55.96,...,74.29,61.35,73.59,81.07,5,66.08,93.52,85.62,70.59,98.0
4,IR-E-U-0573,Indian Institute of Technology Kharagpur,Kharagpur,West Bengal,82.03,5.0,80.51,88.59,83.01,58.46,...,88.02,74.11,73.43,83.91,3,76.23,92.68,83.95,78.05,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,IR17-ENGG-1-26228,C.V. Raman College of Engineering,Bhubneshwar,Odisha,0.00,0.0,0.00,0.00,0.00,0.00,...,49.95,72.48,21.66,0.00,0,0.00,0.00,0.00,0.00,0.0
269,IR17-ENGG-2-10476,"Maharashtra Institute of Technology, Pune",Pune,Maharashtra,0.00,0.0,0.00,0.00,0.00,0.00,...,52.13,63.39,1.46,0.00,0,0.00,0.00,0.00,0.00,0.0
270,IR17-ENGG-2-12411,Sri Sai Ram Engineering College,Chennai,Tamil Nadu,0.00,0.0,0.00,0.00,0.00,0.00,...,59.32,68.75,4.86,0.00,0,0.00,0.00,0.00,0.00,0.0
271,IR17-ENGG-2-12581,ST. Joseph's College of Engineering,Chennai,Tamil Nadu,0.00,0.0,0.00,0.00,0.00,0.00,...,49.39,64.92,2.80,0.00,0,0.00,0.00,0.00,0.00,0.0
272,IR17-ENGG-2-1-2810997882,K.S.Rangasamy College of Technology,Tiruchengode,Tamil Nadu,0.00,0.0,0.00,0.00,0.00,0.00,...,46.44,60.98,5.85,0.00,0,0.00,0.00,0.00,0.00,0.0

In [22]:
# Step 4: Create target variable containing combined scores
# Assuming you want to predict the overall score using the scores from all years
y = df[['Score_21', 'Score_20', 'Score_19', 'Score_18', 'Score_17', 'Score_16']].sum(axis=1)

In [25]:
# Prepare feature matrix X and target variable y
X = df[['TLR_21', 'RPC_21', 'OI_21', 'GO_21', 'Score_21', 'Perception_21',
                 'TLR_20', 'RPC_20', 'OI_20', 'GO_20', 'Score_20', 'Perception_20',
                 'TLR_19', 'RPC_19', 'OI_19', 'GO_19', 'Score_19', 'Perception_19',
                 'TLR_18', 'RPC_18', 'OI_18', 'GO_18', 'Score_18', 'Perception_18',
                 'TLR_17', 'RPC_17', 'OI_17', 'GO_17', 'Score_17', 'Perception_17',
                 'TLR_16', 'RPC_16', 'OI_16', 'GO_16', 'Score_16', 'Perception_16']]

In [29]:
X

,TLR_21,RPC_21,OI_21,GO_21,Score_21,Perception_21,TLR_20,RPC_20,OI_20,GO_20,...,OI_17,GO_17,Score_17,Perception_17,TLR_16,RPC_16,OI_16,GO_16,Score_16,Perception_16
0,95.47,96.43,62.44,81.92,90.19,100.00,95.42,94.64,61.31,83.90,...,77.19,83.78,87.96,81.46,88.26,94.02,86.11,81.81,89.41,98.0
1,91.76,95.82,66.39,80.97,88.96,98.63,90.79,96.15,64.81,80.36,...,71.41,77.45,81.08,77.24,80.27,91.62,66.17,74.72,82.02,98.0
2,89.32,92.56,53.68,79.71,85.16,92.88,91.00,93.37,49.99,77.60,...,69.70,83.64,87.87,84.24,85.93,94.14,74.84,84.97,87.66,99.0
3,86.71,83.13,55.96,89.79,83.22,87.05,86.22,82.08,54.21,88.44,...,61.35,74.29,76.83,73.59,66.08,93.52,70.59,85.62,81.07,98.0
4,80.51,88.59,58.46,83.01,82.03,88.50,77.32,87.11,56.62,83.21,...,74.11,88.02,81.93,73.43,76.23,92.68,78.05,83.95,83.91,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,72.48,49.95,36.82,21.66,0.00,0.00,0.00,0.00,0.00,0.0
269,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,63.39,52.13,36.75,1.46,0.00,0.00,0.00,0.00,0.00,0.0
270,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,68.75,59.32,36.64,4.86,0.00,0.00,0.00,0.00,0.00,0.0
271,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,64.92,49.39,36.51,2.80,0.00,0.00,0.00,0.00,0.00,0.0
272,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,60.98,46.44,36.40,5.85,0.00,0.00,0.00,0.00,0.00,0.0

In [30]:
y

0      535.49
1      507.68
2      514.99
3      476.11
4      485.62
        ...
268     36.82
269     36.75
270     36.64
271     36.51
272     36.40
Length: 273, dtype: float64

In [31]:
# Step 5: Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [32]:
# Step 6: Train a gradient boosting algorithm
model = GradientBoostingRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

GradientBoostingRegressor(random_state=42)

In [33]:
# Step 7: Evaluate the model's performance
train_mse = mean_squared_error(y_train, model.predict(X_train))
test_mse = mean_squared_error(y_test, model.predict(X_test))

print(f"Mean Squared Error on Training Set: {train_mse:.3f}")
print(f"Mean Squared Error on Test Set: {test_mse:.3f}")

Mean Squared Error on Training Set: 8.572
Mean Squared Error on Test Set: 162.044

In [34]:
# Splitting the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Instantiate the Gradient Boosting Regressor with hyperparameters
# You can adjust hyperparameters like learning_rate, n_estimators, max_depth, etc. as needed
gb_model = GradientBoostingRegressor(learning_rate=0.1, n_estimators=100, max_depth=3, random_state=42)

# Training the model
gb_model.fit(X_train, y_train)

GradientBoostingRegressor(random_state=42)

In [35]:
train_predictions = gb_model.predict(X_train)
test_predictions = gb_model.predict(X_test)

# Calculating Mean Squared Error
train_mse = mean_squared_error(y_train, train_predictions)
test_mse = mean_squared_error(y_test, test_predictions)

print("Mean Squared Error on Training Set:", train_mse)
print("Mean Squared Error on Test Set:", test_mse)

Mean Squared Error on Training Set: 8.57212721588942
Mean Squared Error on Test Set: 162.04443480009715

In [40]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

# Assuming df contains the dataset with features and target variable
# Replace 'features' and 'target' with actual column names from your dataset

# Selecting features and target variable
X = df[['TLR_16', 'RPC_16', 'GO_16', 'OI_16', 'Perception_16',   # Features from 2016
        'TLR_17', 'RPC_17', 'GO_17', 'OI_17', 'Perception_17',   # Features from 2017
        'TLR_18', 'RPC_18', 'GO_18', 'OI_18', 'Perception_18',   # Features from 2018
        'TLR_19', 'RPC_19', 'GO_19', 'OI_19', 'Perception_19',   # Features from 2019
        'TLR_20', 'RPC_20', 'GO_20', 'OI_20', 'Perception_20',   # Features from 2020
        'TLR_21', 'RPC_21', 'GO_21', 'OI_21', 'Perception_21']]  # Features from 2021

y = df['Rank_21']  # Target variable (Rank for 2021)

# Splitting the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Constructing a pipeline with StandardScaler and GradientBoostingRegressor with regularization
pipeline = make_pipeline(StandardScaler(), GradientBoostingRegressor(learning_rate=0.1, n_estimators=100, max_depth=3, random_state=42, alpha=0.1))

# Training the model
pipeline.fit(X_train, y_train)

# Making predictions
train_predictions = pipeline.predict(X_train)
test_predictions = pipeline.predict(X_test)

# Calculating Mean Squared Error
train_mse = mean_squared_error(y_train, train_predictions)
test_mse = mean_squared_error(y_test, test_predictions)

print("Mean Squared Error on Training Set:", train_mse)
print("Mean Squared Error on Test Set:", test_mse)

Mean Squared Error on Training Set: 11.729844897388421
Mean Squared Error on Test Set: 144.06437844733634

In [41]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

# Assuming df contains the dataset with features and target variable
# Replace 'features' and 'target' with actual column names from your dataset

# Selecting features and target variable
X = df[['TLR_16', 'RPC_16', 'GO_16', 'OI_16', 'Perception_16',   # Features from 2016
        'TLR_17', 'RPC_17', 'GO_17', 'OI_17', 'Perception_17',   # Features from 2017
        'TLR_18', 'RPC_18', 'GO_18', 'OI_18', 'Perception_18',   # Features from 2018
        'TLR_19', 'RPC_19', 'GO_19', 'OI_19', 'Perception_19',   # Features from 2019
        'TLR_20', 'RPC_20', 'GO_20', 'OI_20', 'Perception_20',   # Features from 2020
        'TLR_21', 'RPC_21', 'GO_21', 'OI_21', 'Perception_21']]  # Features from 2021

y = df['Rank_21']  # Target variable (Rank for 2021)

# Splitting the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Constructing a pipeline with StandardScaler and GradientBoostingRegressor with regularization
pipeline = make_pipeline(StandardScaler(), GradientBoostingRegressor(learning_rate=0.05, n_estimators=200, max_depth=4, random_state=42))

# Training the model
pipeline.fit(X_train, y_train)

# Making predictions
train_predictions = pipeline.predict(X_train)
test_predictions = pipeline.predict(X_test)

# Calculating Mean Squared Error
train_mse = mean_squared_error(y_train, train_predictions)
test_mse = mean_squared_error(y_test, test_predictions)

print("Mean Squared Error on Training Set:", train_mse)
print("Mean Squared Error on Test Set:", test_mse)

Mean Squared Error on Training Set: 1.3216468724393804
Mean Squared Error on Test Set: 124.81953183180221

In [42]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

# Assuming df contains the dataset with features and target variable
# Replace 'features' and 'target' with actual column names from your dataset

# Selecting features and target variable
X = df[['TLR_16', 'RPC_16', 'GO_16', 'OI_16', 'Perception_16',   # Features from 2016
        'TLR_17', 'RPC_17', 'GO_17', 'OI_17', 'Perception_17',   # Features from 2017
        'TLR_18', 'RPC_18', 'GO_18', 'OI_18', 'Perception_18',   # Features from 2018
        'TLR_19', 'RPC_19', 'GO_19', 'OI_19', 'Perception_19',   # Features from 2019
        'TLR_20', 'RPC_20', 'GO_20', 'OI_20', 'Perception_20',   # Features from 2020
        'TLR_21', 'RPC_21', 'GO_21', 'OI_21', 'Perception_21']]  # Features from 2021

y = df['Rank_21']  # Target variable (Rank for 2021)

# Splitting the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Constructing a pipeline with StandardScaler and GradientBoostingRegressor with regularization
pipeline = make_pipeline(StandardScaler(), GradientBoostingRegressor())

# Hyperparameter tuning using GridSearchCV
param_grid = {
    'gradientboostingregressor__learning_rate': [0.01, 0.05, 0.1],
    'gradientboostingregressor__n_estimators': [100, 200, 300],
    'gradientboostingregressor__max_depth': [3, 4, 5]
}

grid_search = GridSearchCV(pipeline, param_grid, cv=5, scoring='neg_mean_squared_error')
grid_search.fit(X_train, y_train)

# Training the model with best parameters
best_model = grid_search.best_estimator_
best_model.fit(X_train, y_train)

# Making predictions
train_predictions = best_model.predict(X_train)
test_predictions = best_model.predict(X_test)

# Calculating Mean Squared Error
train_mse = mean_squared_error(y_train, train_predictions)
test_mse = mean_squared_error(y_test, test_predictions)

print("Mean Squared Error on Training Set:", train_mse)
print("Mean Squared Error on Test Set:", test_mse)

Mean Squared Error on Training Set: 0.15658633404554223
Mean Squared Error on Test Set: 134.6894130522574


# for now the best solution

In [43]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

# Assuming df contains the dataset with features and target variable
# Replace 'features' and 'target' with actual column names from your dataset

# Selecting features and target variable
X = df[['TLR_16', 'RPC_16', 'GO_16', 'OI_16', 'Perception_16',   # Features from 2016
        'TLR_17', 'RPC_17', 'GO_17', 'OI_17', 'Perception_17',   # Features from 2017
        'TLR_18', 'RPC_18', 'GO_18', 'OI_18', 'Perception_18',   # Features from 2018
        'TLR_19', 'RPC_19', 'GO_19', 'OI_19', 'Perception_19',   # Features from 2019
        'TLR_20', 'RPC_20', 'GO_20', 'OI_20', 'Perception_20',   # Features from 2020
        'TLR_21', 'RPC_21', 'GO_21', 'OI_21', 'Perception_21']]  # Features from 2021

y = df['Rank_21']  # Target variable (Rank for 2021)

# Splitting the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Constructing a pipeline with StandardScaler and GradientBoostingRegressor with regularization
pipeline = make_pipeline(StandardScaler(), GradientBoostingRegressor())

# Hyperparameter tuning using GridSearchCV
param_grid = {
    'gradientboostingregressor__learning_rate': [0.01, 0.05, 0.1],
    'gradientboostingregressor__n_estimators': [100, 200, 300],
    'gradientboostingregressor__max_depth': [3, 4, 5]
}

grid_search = GridSearchCV(pipeline, param_grid, cv=5, scoring='neg_mean_squared_error')
grid_search.fit(X_train, y_train)

# Training the model with best parameters
best_model = grid_search.best_estimator_
best_model.fit(X_train, y_train)

# Making predictions
train_predictions = best_model.predict(X_train)
test_predictions = best_model.predict(X_test)

# Calculating Mean Squared Error
train_mse = mean_squared_error(y_train, train_predictions)
test_mse = mean_squared_error(y_test, test_predictions)

print("Mean Squared Error on Training Set:", train_mse)
print("Mean Squared Error on Test Set:", test_mse)

Mean Squared Error on Training Set: 0.15658633404554353
Mean Squared Error on Test Set: 132.62673822546563

In [44]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

# Assuming df contains the dataset with features and target variable
# Replace 'features' and 'target' with actual column names from your dataset

# Selecting features and target variable
X = df[['TLR_16', 'RPC_16', 'GO_16', 'OI_16', 'Perception_16',   # Features from 2016
        'TLR_17', 'RPC_17', 'GO_17', 'OI_17', 'Perception_17',   # Features from 2017
        'TLR_18', 'RPC_18', 'GO_18', 'OI_18', 'Perception_18',   # Features from 2018
        'TLR_19', 'RPC_19', 'GO_19', 'OI_19', 'Perception_19',   # Features from 2019
        'TLR_20', 'RPC_20', 'GO_20', 'OI_20', 'Perception_20',   # Features from 2020
        'TLR_21', 'RPC_21', 'GO_21', 'OI_21', 'Perception_21']]  # Features from 2021

y = df['Rank_21']  # Target variable (Rank for 2021)

# Splitting the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Constructing a pipeline with StandardScaler and GradientBoostingRegressor with regularization
pipeline = make_pipeline(StandardScaler(), GradientBoostingRegressor(alpha=0.01, n_estimators=200, max_depth=5))

# Training the model
pipeline.fit(X_train, y_train)

# Making predictions
train_predictions = pipeline.predict(X_train)
test_predictions = pipeline.predict(X_test)

# Calculating Mean Squared Error
train_mse = mean_squared_error(y_train, train_predictions)
test_mse = mean_squared_error(y_test, test_predictions)

print("Mean Squared Error on Training Set:", train_mse)
print("Mean Squared Error on Test Set:", test_mse)

Mean Squared Error on Training Set: 0.00027733592772271975
Mean Squared Error on Test Set: 153.9687295178852

In [45]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

# Assuming df contains the dataset with features and target variable
# Replace 'features' and 'target' with actual column names from your dataset

# Selecting features and target variable
X = df[['TLR_16', 'RPC_16', 'GO_16', 'OI_16', 'Perception_16',   # Features from 2016
        'TLR_17', 'RPC_17', 'GO_17', 'OI_17', 'Perception_17',   # Features from 2017
        'TLR_18', 'RPC_18', 'GO_18', 'OI_18', 'Perception_18',   # Features from 2018
        'TLR_19', 'RPC_19', 'GO_19', 'OI_19', 'Perception_19',   # Features from 2019
        'TLR_20', 'RPC_20', 'GO_20', 'OI_20', 'Perception_20',   # Features from 2020
        'TLR_21', 'RPC_21', 'GO_21', 'OI_21', 'Perception_21']]  # Features from 2021

y = df['Rank_21']  # Target variable (Rank for 2021)

# Splitting the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Constructing a pipeline with StandardScaler and GradientBoostingRegressor with increased regularization
pipeline = make_pipeline(StandardScaler(), GradientBoostingRegressor(alpha=0.1, n_estimators=200, max_depth=5))

# Hyperparameter tuning
param_grid = {
    'gradientboostingregressor__alpha': [0.01, 0.1, 1.0],
    'gradientboostingregressor__n_estimators': [100, 200, 300],
    'gradientboostingregressor__max_depth': [3, 5, 7]
}

grid_search = GridSearchCV(pipeline, param_grid, cv=5)
grid_search.fit(X_train, y_train)

# Best hyperparameters
print("Best Hyperparameters:", grid_search.best_params_)

# Making predictions
train_predictions = grid_search.predict(X_train)
test_predictions = grid_search.predict(X_test)

# Calculating Mean Squared Error
train_mse = mean_squared_error(y_train, train_predictions)
test_mse = mean_squared_error(y_test, test_predictions)

print("Mean Squared Error on Training Set:", train_mse)
print("Mean Squared Error on Test Set:", test_mse)

Best Hyperparameters: {'gradientboostingregressor__alpha': 0.01, 'gradientboostingregressor__max_depth': 3, 'gradientboostingregressor__n_estimators': 200}
Mean Squared Error on Training Set: 1.0996566611771772
Mean Squared Error on Test Set: 135.37749262764336

c:\users\sishi\appdata\local\programs\python\python39\lib\site-packages\sklearn\model_selection\_validation.py:372: FitFailedWarning:
45 fits failed out of a total of 135.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
45 fits failed with the following error:
Traceback (most recent call last):
  File "c:\users\sishi\appdata\local\programs\python\python39\lib\site-packages\sklearn\model_selection\_validation.py", line 681, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "c:\users\sishi\appdata\local\programs\python\python39\lib\site-packages\sklearn\pipeline.py", line 394, in fit
    self._final_estimator.fit(Xt, y, **fit_params_last_step)
  File "c:\users\sishi\appdata\local\programs\python\python39\lib\site-packages\sklearn\ensemble\_gb.py", line 525, in fit
    self._check_params()
  File "c:\users\sishi\appdata\local\programs\python\python39\lib\site-packages\sklearn\ensemble\_gb.py", line 330, in _check_params
    raise ValueError("alpha must be in (0.0, 1.0) but was %r" % self.alpha)
ValueError: alpha must be in (0.0, 1.0) but was 1.0

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\users\sishi\appdata\local\programs\python\python39\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [0.94524929 0.9475802  0.94658366 0.93242768 0.93075279 0.93204313
 0.89676845 0.89668686 0.89918744 0.94477646 0.94601694 0.9426454
 0.92898428 0.92889233 0.92990865 0.8950578  0.89614558 0.89455047
        nan        nan        nan        nan        nan        nan
        nan        nan        nan]
  warnings.warn(

In [46]:
df

,Institute Id,Institute Name,City,State,Score_21,Rank_21,TLR_21,RPC_21,GO_21,OI_21,...,GO_17,OI_17,Perception_17,Score_16,Rank_16,TLR_16,RPC_16,GO_16,OI_16,Perception_16
0,IR-E-U-0456,Indian Institute of Technology Madras,Chennai,Tamil Nadu,90.19,1.0,95.47,96.43,81.92,62.44,...,83.78,77.19,81.46,89.41,1,88.26,94.02,81.81,86.11,98.0
1,IR-E-I-1074,Indian Institute of Technology Delhi,New Delhi,Delhi,88.96,2.0,91.76,95.82,80.97,66.39,...,77.45,71.41,77.24,82.02,4,80.27,91.62,74.72,66.17,98.0
2,IR-E-U-0306,Indian Institute of Technology Bombay,Mumbai,Maharashtra,85.16,3.0,89.32,92.56,79.71,53.68,...,83.64,69.70,84.24,87.66,2,85.93,94.14,84.97,74.84,99.0
3,IR-E-I-1075,Indian Institute of Technology Kanpur,Kanpur,Uttar Pradesh,83.22,4.0,86.71,83.13,89.79,55.96,...,74.29,61.35,73.59,81.07,5,66.08,93.52,85.62,70.59,98.0
4,IR-E-U-0573,Indian Institute of Technology Kharagpur,Kharagpur,West Bengal,82.03,5.0,80.51,88.59,83.01,58.46,...,88.02,74.11,73.43,83.91,3,76.23,92.68,83.95,78.05,97.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268,IR17-ENGG-1-26228,C.V. Raman College of Engineering,Bhubneshwar,Odisha,0.00,0.0,0.00,0.00,0.00,0.00,...,49.95,72.48,21.66,0.00,0,0.00,0.00,0.00,0.00,0.0
269,IR17-ENGG-2-10476,"Maharashtra Institute of Technology, Pune",Pune,Maharashtra,0.00,0.0,0.00,0.00,0.00,0.00,...,52.13,63.39,1.46,0.00,0,0.00,0.00,0.00,0.00,0.0
270,IR17-ENGG-2-12411,Sri Sai Ram Engineering College,Chennai,Tamil Nadu,0.00,0.0,0.00,0.00,0.00,0.00,...,59.32,68.75,4.86,0.00,0,0.00,0.00,0.00,0.00,0.0
271,IR17-ENGG-2-12581,ST. Joseph's College of Engineering,Chennai,Tamil Nadu,0.00,0.0,0.00,0.00,0.00,0.00,...,49.39,64.92,2.80,0.00,0,0.00,0.00,0.00,0.00,0.0
272,IR17-ENGG-2-1-2810997882,K.S.Rangasamy College of Technology,Tiruchengode,Tamil Nadu,0.00,0.0,0.00,0.00,0.00,0.00,...,46.44,60.98,5.85,0.00,0,0.00,0.00,0.00,0.00,0.0